body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    color: white
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.452);
}

section.container-products {
    margin-top: 5px;
}

.titulo-secao {
    color: white;
    font-weight: bold;
    margin: 25px auto 0 auto;
    width: 59%;
}

.fundo-diferente {
    background: linear-gradient(0.25turn,#e67a7a85, #b8bdeea2);
}

#resultado {
    text-align: center;
    padding: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}


/* PARTE DO CARTÃO DE CRÉDITO */

#form {
    margin-top: 20px;
    margin-right: 5px;
    font-size: 13px;

}

label {
    display: block;
    font-weight: bold;
    
}

input {
    width:100%;
    margin: 0 auto 15px auto;
    padding: 5px;
    border: none;
    border: 1px solid rgb(214, 205, 205);
    border-radius: 5px;
}

#button {
    margin: auto;
    background-color: #0d6efd;
    border: 0;
    padding: 6px;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

}

#primeiro-cabecalho {
    margin: 5px;
}

.cartao {
    position: relative;
    margin: 50px auto 0 auto;
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 16px;
}

.verso {
    position: relative;
    margin: 50px auto 0 auto;
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 16px;
}

.chip {
    position: absolute;
    left: 20px;
    top: 100px;
}

.numNoCartao {
    position: absolute;
    left: 20px;
    top: 190px;
}

.nomeNoCartao {
    position: absolute;
    left: 20px;
    top: 220px;
    text-transform: uppercase;
}

.validadeNoCartao {
    position: absolute;
    left: 415px;
    top: 220px;
}

.bandeiraNoCartao {
    position: absolute;
    left: 415px;
    top: 30px;
}

#num-cartao::placeholder {
    color: red;
    font-weight: bold;
}

#titular::placeholder {
    color: red;
    font-weight: bold;
}

#cpf::placeholder {
    color: red;
    font-weight: bold;
}

#cvv::placeholder {
    color: red;
    font-weight: bold;
}